@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
body {
    background-color: #A43312; 
    background-image: linear-gradient(180deg, #A43312 25%, #AABD8C 80%);
    font-family: "Irish Grover", "Comic Neue", "Helvetica";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background: radial-gradient(circle, rgba(170,189,140,1) 20%, rgba(231,194,79,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
#icon-options{
    color: #3D1F00;
    text-shadow: 2px 2px 4px gray;
    font-size: 40px;
    justify-self: center;
    align-self: center;
    
}

#form{
    position: relative;
    transform: translate(-50%, -50%);
    top:85%;
    left:50%;
}
#query{
    height: 50px;
    width:250px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}    
#form button{
    width:50px;
    height:50px;
    border:none;
    border-radius:6px;
    background: #3d1e009a;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#logo{
    justify-self: center;
    align-self: center;
}
.logo{
    border-radius: 15px;
    width:130px;
    height:130px;
}
nav{
    grid-column: 1/-1;
    text-align: center;
    color: #084c61;
    text-decoration: none;
    font-family: "Irish Grover", Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 15px 125px;
}
a{
    text-align: center;
    /* color: #084c61; */
    color:#3D1F00;
    text-decoration: none;
    
}
nav a:hover {
    background-color: #A43312;
}
main{
    background-color: #A43312;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 10px;
    overflow: hidden;
     
}
.location{
    grid-column: 3/-1;
    padding: 20px 20px;
    
}
main div iframe{
    width: 550px;
    height: 350px;
    border-radius: 10%;
}
body .images-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 20px;
    gap: 80px;
}
#presentation-images{
    position: relative;
    width: 80%;
    padding-left: 80px;
}
#presentation-images img{
    display: block;
    width: 100%;
    height: auto;
    
}
.text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0; 
    transition: .5s ease;
    background-color: #E7C24F;
}
#presentation-images:hover .text{
    opacity: 1;
}
#presentation-images .para{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
}

#presentation-images2{
    position: relative;
    width: 80%;
    padding-right: 80px;
}
#presentation-images2 img{
    display: block;
    width: 100%;
    height: auto;
    
}
.text2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0; 
    transition: .5s ease;
    background-color: #E7C24F;
}
#presentation-images2:hover .text2{
    opacity: 1;
}
#presentation-images2 .para2{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 45%;
    left: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
}
.headquarters{
    grid-column: 1/2;
    grid-row: 1/-1;
    text-align: center;
    height: 100%;
    justify-self: center;
    align-self: center;
    padding-top: 100px;
    margin: 0 10px;
}
.office{
    grid-column: 2/3;
    grid-row: 1/-1;
    text-align: center;
    height: 100%;
    justify-self: center;
    align-self: center;
    padding-top: 100px;
    margin: 0 10px;
}
main i{
    grid-column: 1/3;
    grid-row: 1/-1;
    color: #3D1F00;
    text-shadow: 2px 2px 4px gray;
    font-size: 60px;
    justify-self: center;
    align-self:center;
    padding-top: 250px;
}
.columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
    padding: 20px;
    
    gap: 20px;
    overflow: hidden;
}
.columns div{
    border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
    padding: 20px;
    text-align: center;
}
.columns div i{
    color: #3D1F00;
    text-shadow: 2px 2px 4px gray;
    font-size: 40px;
    justify-self: center;
    align-self: center;
}
footer{
    background-image: linear-gradient(180deg, #A43312 25%, #AABD8C 80%);
    padding: 25px 50px;
    margin-top: 200px;
    display: grid;
    /* justify-content: space-around;
    align-items: center; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 350px 1fr;
    
}
footer a{
    grid-row: 1/-1;
    
}
footer a .logo{
    width: 200px;
    height: 200px;
}
footer div a img{
    width: 70px;
    height: 70px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
footer div a img:hover{
    opacity: 0.7;
}
.social{
    justify-self: center;
    align-self:center;
    padding: 20px;
    
}
footer h3{
    text-align: center;
    border-top: 1px solid black;
}